@use '../utilities' as *;
@use '../shared/vars' as *;

.highlight {
  animation: highlight var(--transition-xlg) var(--easing-bounce-soft) infinite !important;
}

@keyframes highlight {
  0% {
    box-shadow: 0 0 0 2px var(--color-accent);
  }

  30% {
    box-shadow:
      0 0 0 2px var(--color-black),
      0 0 0 4px var(--color-black);
  }

  100% {
    box-shadow: 0 0 0 2px var(--color-accent);
  }
}

@keyframes slide-fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes temp-z-index-xxlg {
  0% {
    z-index: var(--z-index-2xlg);
  }

  100% {
    z-index: var(--z-index-2xlg);
  }
}

@keyframes to-display-none {
  100% {
    display: none;
  }
}

@keyframes delayed-overflow-hidden {
  100% {
    overflow: hidden;
  }
}

@keyframes scale-up-back {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-up-invert-back {
  0% {
    filter: invert(1);
  }

  30% {
    filter: invert(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    filter: none;
    transform: scale(1);
  }
}

