@use '../utilities' as *;
@use '../shared/vars' as *;

.title {
  font-family: var(--font-family-title);
  color: var(--color-title);
  font-weight: 500;
}

.ff-alt {
  font-family: var(--font-family-alt);
}

.up {
  text-transform: uppercase;
}

:where(.fsz-title-xlg, .fsz-title-lg, .fsz-title-md) {
  line-height: var(--line-height-title);
}

.fsz-title-md {
  @include adaptive-prop('font-size', 18, 320, 26, 1400);
}

.fsz-text-xlg {
  font-size: 20px;
}

.fsz-text-lg {
  font-size: 18px;
}

.fsz-text-md {
  font-size: 16px;
}

.fsz-text-sm {
  font-size: 14px;
}

.fsz-text-xsm {
  font-size: 13px;
}

.fsz-text-2xsm {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
