@use '../../utilities' as *;
@use '../../shared/vars' as *;

.todo {
  &__title {
    margin-bottom: 18px;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 13px;

    @media (width < 400px) {
      flex-wrap: wrap;
    }
  }

  &__search-wrapper {
    flex: 1 1 auto;
    position: relative;
  }

  &__search {
    width: 100%;
    padding: 8px 16px;
    padding-right: 48px;

    &-btn {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 22px;
      color: var(--color-accent);

      &:active[class] {
        transform: translateY(-50%) scale(1.16);
      }
    }
  }

  &__theme-switch {
    cursor: pointer;
    color: var(--color-white);
    display: inline-block;
    border-radius: var(--border-radius-6);
    width: 38px;
    height: 38px;
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(input:focus-visible) {
      outline: var(--focus-visible-outline);
      box-shadow: var(--focus-visible-box-shadow);
    }
  }

  &__add {
    position: fixed;
    bottom: 32px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    right: max((100vw - var(--container-max-width)) / 2, 8px);
    border-radius: 50%;
    border: 2px solid var(--color-accent--secondary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (any-hover: hover) {
      &:hover {
        filter: saturate(1.4) brightness(1.2);
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__modal-add {
    height: 290px;
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: 25px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 16px;
    }

    &-input-wrapper {
      flex: 1 1 auto;
    }

    &-input {
      width: 100%;
      padding: 11px 16px;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }

    .btn {
      padding: 0.7em 1.5em;
    }
  }
}

.todo-list {
  max-width: 520px;
  margin: 0 auto;

  &__li {
    padding: 17px 0;
    display: flex;
    align-items: center;
    gap: 13px;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid #b1acfb;
    }

    .checkbox {
      padding: 4px;
      margin-left: -4px;
    }

    &:has(input:checked) {
      .todo-list__text {
        text-decoration: line-through;
        color: var(--color-muted);
      }
    }
  }

  &__text {
    flex: 1 1 auto;
    font-weight: 500;
    @include adaptive-prop('font-size', 16, 320, 20, 1400);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__action-btn {
    color: var(--color-muted-alt);
    padding: 5px;

    &-icon {
      width: 24px;
      height: 24px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }

    &:active[class] {
      transform: scale(1.16);
    }
  }

  &__no-results {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-image {
      max-width: 220px;
    }

    &-text {
      font-size: 20px;
    }
  }
}

@media (any-hover: hover) and (pointer: fine) {
  .todo-list__actions {
    opacity: 0;

    &:focus-within {
      opacity: 1;
    }
  }

  .todo-list__li:hover .todo-list__actions {
    opacity: 1;
  }
}